Package: trustless-hub-node
Priority: optional
Architecture: amd64
Homepage: https://github.com/trstlabs/trst
Maintainer: https://github.com/trstlabs
Provides: trustless-hub-node
Conflicts: trustless-hub-node
Replaces: trustless-hub-node
Description: The trst node package for running a node on Trustless Hub
