Package: trustlesshub
Priority: optional
Architecture: amd64
Homepage: https://github.com/danieljdd/trustlesshub
Maintainer: https://github.com/danieljdd
Provides: trustlesshub
Conflicts: trustlesshub
Replaces: trustlesshub
Description: The trst node
