[global]
# Specify the verbosity for the relayer logging output. Default: 'info'
# Valid options are 'error', 'warn', 'info', 'debug', 'trace'.
log_level = 'info'

[mode]
[mode.clients]
enabled = true
refresh = true
misbehaviour = true

[mode.connections]
enabled = true

[mode.channels]
enabled = true

[mode.packets]
enabled = true
clear_interval = 100
clear_on_start = true

[rest]
enabled = true
host = '0.0.0.0'
port = 3000

[telemetry]
enabled = true
host = '0.0.0.0'
port = 3001

[[chains]]
id = 'intento-dev-1'
ccv_consumer_chain = false
rpc_addr = 'http://into1:26657'
grpc_addr = 'http://into1:9090'
event_source = { mode = 'push', url = 'ws://into1:26657/websocket', batch_delay = '500ms' }
rpc_timeout = '30s'
account_prefix = 'into'
key_name = 'rly1'
store_prefix = 'ibc'
gas_price = { price = 0.02, denom = 'uinto' }
gas_multiplier = 1.5
#clock_drift = '30s'
max_block_time = '30s'
# trusting_period = '119s'
trust_threshold = { numerator = '1', denominator = '3' }
address_type = { derivation = 'cosmos' }

[[chains]]
id = 'GAIA'
rpc_addr = 'http://gaia1:26657'
grpc_addr = 'http://gaia1:9090'
event_source = { mode = 'push', url = 'ws://gaia1:26657/websocket', batch_delay = '500ms' }
rpc_timeout = '30s'
account_prefix = 'cosmos'
key_name = 'rly2'
store_prefix = 'ibc'
gas_price = { price = 0.02, denom = 'uatom' }
default_gas = 100000
max_gas = 5000000
gas_multiplier = 1.7
trusted_node = true
max_block_time = '30s'
#trusting_period = '119s'
trust_threshold = { numerator = '1', denominator = '3' }
address_type = { derivation = 'cosmos' }

#[[chains]]
#id = 'OSMO'
#rpc_addr = 'http://osmo1:26657'
#grpc_addr = 'http://osmo1:9090'
#event_source = { mode = 'push', url = 'ws://osmo1:26657/websocket', batch_delay = '500ms' }
#rpc_timeout = '30s'
#account_prefix = 'osmo'
#key_name = 'rly4'
#store_prefix = 'ibc'
#gas_price = { price = 0.02, denom = 'uosmo' }
#default_gas = 100000
#max_gas = 5000000
#gas_multiplier = 1.7
##clock_drift = '30s'
#max_block_time = '30s'
##trusting_period = '119s'
#trust_threshold = { numerator = '1', denominator = '3' }
#address_type = { derivation = 'cosmos' }